.para {
    font-size: 25px;
    font-style: inherit;
    font-weight: 100;
    color: red;
    border-radius: 1px;
    border: black;
    border-style: solid;
    padding: 5px;
    width: fit-content;
}